@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  min-width: 240px;
}
@media only screen and (min-width: 768px) {
  .container {
    width: 40%;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    width: 95%;
  }
}
input.visited,
select.visited {
  @apply border-black;
  @apply text-black;
}
